{% extends "main.html" %} {% block style %}
<link rel="stylesheet" href="/media/css/accounts.css" />
<link rel="stylesheet" href="/media/css/main.css" />
{% endblock style %} {% block title %}Accounts{% endblock title %}
{% block content %}
<section class="accounts">
  <form method="POST" class="accounts-form">
    <h1>Welcome</h1>
    {% csrf_token %}

      <label>Edit name:</label>
      <input name="name" type="text" value="{{acc.name}}" />
      <label>Edit number:</label>
      <input name="number" type="number" value="{{acc.mobile}}" />
      <label>Edit Email:</label>
      <input name="email" type="email" value="{{acc.email}}" />
    <button type="submit">Edit</button>
  </form>
</section>
{% endblock content %}
