{% extends 'main.html' %}
{% block title %}Account{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<form method='POST'>
    {% csrf_token %}
    <label>Edit name:</label>
    <input name='name' type='text' value='{{acc.name}}'/>
    <label>Edit number:</label>
    <input name='number' type="number" value="{{acc.mobile}}"/>
    <label>Edit Email:</label>
    <input name='email' type="email" value="{{acc.email}}"/>
    <button type="submit">Edit</button>
</form>
{% endblock content %}