{% extends 'main.html' %}
    {% block style %}<link rel="stylesheet" href="/media/css/howItWorks.css" />{% endblock style %}
    {% block title %}How it works{% endblock title %}
    {% block content %}
    <div class="content">
      <h2 class="hero-text">How our workers can help you?</h2>
      <p class="hero-para">
        Possibilities are endless. We have people with great experience who can
        help you in your work.
      </p>
      <button class="post">Post Project</button>
    </div>
    <div class="labour">
      <h1>How to hire a labour</h1>
      <hr />
      <div class="work">
        <img src="/media/imgs/work1.jpg" alt="" />
        <div class="process">
          <h2>How does it work?</h2>
          <ul>
            <li>Post a Project</li>
            <p>
              Simply post a project or contest for what you need done and
              receive competitive bids from freelancers within minutes.
            </p>
            <li>Choose the perfect worker</li>
            <p>
              Browse freelancer profiles. Chat in real-time. Compare proposals
              and select the best one. Award your project and your freelancer
              starts work.
            </p>
            <li>Pay when you are satisfied</li>
            <p>
              Pay securely using our Milestone Payment system. Release payments
              when it has been completed and you're 100% satisfied.
            </p>
          </ul>
          <button><a href="{% url 'postproject' %}">Post Project</a></button>
        </div>
      </div>
    </div>
    <hr class="work-line" />
    <div class="contact">
      <div class="left">
        <h2>Be in control. Keep contact</h2>
        <p>
          Use our collaboration tools to work efficiently with your freelancer.
          Share files, chat in real-time, monitor progress, and so much more.
        </p>
        <h3>Mobile App</h3>
        <p>
          Manage your project at the touch of your fingertips. The mobile app
          makes on-the-go collaboration a breeze.
        </p>
      </div>
      <div class="right">
        <img src="/media/imgs/work2.jpg" alt="" class="prob-img" />
      </div>
    </div>

    <hr class="safe-line" />
    <h1 class="safe-text">Safe and Secure</h1>

    <div class="safe">
      <img src="/media/imgs/work3.jpeg" alt="" />
      <div class="right">
        <p>
          Labourzilla is a community that values your trust and safety as our
          number one priority. Our representatives are available 24/7 to assist
          you with any issues.
        </p>
        <div class="pay-support">
          <div class="pay">
            <h3>Pay with confidence</h3>
            <p>
              Pay safely and securely in over 39 currencies through the
              Milestone Payments system. Only release payments when you are
              satisfied with the work.
            </p>
          </div>
          <div class="support">
            <h3>24/7 support</h3>
            <p>
              We're always here to help. Our representatives are available 24/7
              to assist you with any issues.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
