{% extends "main.html" %}
{% block style %}
<link rel="stylesheet" href="/media/css/jobs.css" />
{% endblock style %}
{% block title %}Jobs{% endblock title %}
{% block content %}
    <div class="jobs-navbar">
      <h1>Top jobs</h1>
      <div class="buutons">
        <button>I want to hire</button>
        <button>I want to work</button>
      </div>
    </div>
    <div class="jobs-main">
      <div class="filter">
        <h4>My recent searches</h4>
        <hr />
        <span>Filter by</span>
        <h3>Budget</h3>
        <input type="checkbox" />
        <label for="price" id="fixed-p-checkbox">Fixed Price Projects</label>
        <br />
        <input type="text" placeholder="min" />
        <input type="text" placeholder="max" />
        <br />
        <input type="checkbox" />
        <label for="hour">Hourly Project</label>
        <br />
        <input type="text" placeholder="min" />
        <input type="text" placeholder="max" />
        <hr />
        <h3>Type</h3>
        <input type="checkbox" name="local" id="local" />
        <label for="work">Local Work</label>
        <br />
        <input type="checkbox" name="featured" id="featured" />
        <label for="work">Featured Jobs</label>
        <br />
        <input type="checkbox" name="Recuriter" id="recruiter" />
        <label for="work">Recruiter Jobs</label>
        <br />
        <input type="checkbox" name="local" id="full-time" />
        <label for="work">Full time Work</label>
        <br />
      </div>
      <div class="jobs">
        <div class="search">
          <img src="/media/imgs/search-icon.png" alt="" />
          <input type="text" placeholder="Search" />
          <button>Search</button>
        </div>
        <hr />
        <div class="job-post">
          <div class="job-post-content">
            <div class="job-post-content-top">
              <h4>Extract web content</h4>
              <span>6 days left</span>
              <a href="{% url 'jobList' %}">
                <div class="link">
                  <img src="/media/imgs/check.png" alt="" />
                  Verified
                </div>
              </a>
            </div>
            <div class="job-post-content-middle">
              I want to extract content available on site by python code files.
              It takes an input from excel that get pasted on site textbox after
              that a search button clicks then the view profile button get
              clicked. On the profile page of that site all dynamic visible
              contents extract and store in an excel file with a separate column
              name.
            </div>
            <div class="job-post-content-bottom">
              <h5>PhP</h5>
              <h5>Python</h5>
              <h5>Web Scraping</h5>
            </div>
          </div>
          <div class="job-post-price">
            <span>₹1500-12500 INR</span>
            <span>10 bids</span>
            <button>Bid Now</button>
          </div>
        </div>
        <hr id="job-post-line">
        <div class="job-post">
          <div class="job-post-content">
            <div class="job-post-content-top">
              <h4>Extract web content</h4>
              <span>6 days left</span>
              <a href="/jobs.html">
                <div class="link">
                  <img src="/media/imgs/check.png" alt="" />
                  Verified
                </div>
              </a>
            </div>
            <div class="job-post-content-middle">
              I want to extract content available on site by python code files.
              It takes an input from excel that get pasted on site textbox after
              that a search button clicks then the view profile button get
              clicked. On the profile page of that site all dynamic visible
              contents extract and store in an excel file with a separate column
              name.
            </div>
            <div class="job-post-content-bottom">
              <h5>PhP</h5>
              <h5>Python</h5>
              <h5>Web Scraping</h5>
            </div>
          </div>
          <div class="job-post-price">
            <span>₹1500-12500 INR</span>
            <span>10 bids</span>
            <button>Bid Now</button>
          </div>
        </div>
        
        
      </div>
    </div>
{% endblock content %}