<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="website icon" type="png" href="/media/imgs/labour-day.png">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
    

</head>
<body>

    <!-- Topbar -->
    {% include "navbar.html" %}
    <!-- Topbar end -->


    <!-- Main section -->
    {% block content %}{% endblock %}
    
</body>
{% block customScript %}{% endblock %}
</html>