<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <a href="{% url 'home' %}">Labourzilla</a>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="{% url 'howitworks' %}" >How it works</a>
      <a href="{% url 'jobList' %}">Browse Jobs</a>
      {% if request.user.is_authenticated %}
      <button class="login"><a href="{% url 'logout' %}">Logout</a></button>
      <button class="post-project"><a href="{% url 'postproject' %}">Post Project</a></button>
      <div class="dropdown">
        <button><img src="/media/imgs/down-arrow.png" alt=""></button>
        <div class="dropdown-options">
          <a href='{% url "account" %}'>Account</a>
          <a href='{% url "projects" %}'>Projects</a>
        </div>
      {% else %}
      <button class="login"><a href="{% url 'login' %}">Login</a></button>
      <button class="signUp"><a href="{% url 'pubsignup' %}" >Public SignUp</a></button>
      <button class="signUp"><a href="{% url 'worksignup' %}" >Worker SignUp</a></button>
      {% endif %}
      </div>  
    </div>
    
  </div>