{% extends "main.html" %}
{% block style %}
<link rel="stylesheet" href="/media/css/main.css">
<link rel="stylesheet" href="/media/css/signUp.css">
{% endblock style %}
{% block title %}SignUp{% endblock title %}
{% block content %}
    <div class="wrapper">
        <div class="log_form">
            <h2>Labourzilla</h2>
            <h3>Sign Up</h3>
            <form action="">
                <input type="text" placeholder="Email or Username">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <button>Join Labourzilla</button>
            </form>
            <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
        </div>
    </div>
{% endblock content %}