* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Topbar CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
  box-shadow: 10px 10px 30px rgb(15, 15, 15, 0.13);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-header > .nav-title a {
  text-decoration: none;
  color: black;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: inline-start;
  font-size: 18px;
}

.nav > .nav-links > .login {
  padding: 5px 10px;
  background-color: #3d32e3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 35%;
}
.nav > .nav-links > .signUp {
  padding: 5px 10px;
  background-color: #8410ae;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 17px;
}

.nav > .nav-links > .post-project {
  padding: 5px 10px;
  background-color: #e75480;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 17px;
  color: white;
  margin-left: 100px;
}

.nav > .nav-links > .login > a {
  text-decoration: none;
  color: white;
}

.nav > .nav-links > .signUp > a {
  text-decoration: none;
  color: white;
}

.nav > .nav-links > .post-project > a{
  text-decoration: none;
  color: white;
}

/* drop down */

.dropdown {
  display: inline-block;
  position: relative;
  background-color: white;
}

.dropdown button img{
  width: 20px;
  background-color: white;
}

button{
  border:none;
  border-radius:5px;
  /* padding:15px 30px; */
  font-size:18px;
  cursor:pointer;
  background-color: white;
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

/* end dropdown */

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1300px) {
  .nav > .nav-links > .login {
    margin-left: 40px;
  }
  .nav > .nav-links > .post-project {
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 2;
  }

  .nav > .nav-links > .login {
    margin: 10px;
    margin-left: 0;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(45vh - 50px);
    overflow-y: auto;
  }
}

/* Navbar CSS */

.container1 {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  /* box-shadow: 10px 10px 30px rgb(15, 15, 15, 0.13); */
  /* position: fixed; */
  justify-content: space-around;
  /* position: fixed; */
  background-color: rgb(8, 51, 106);
  color: white;
}

.findJobs,
.HireFreelancers,
.about,
.resources {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 880px) {
  .container {
    width: 100%;
  }
  .findJobs,
  .HireFreelancers,
  .about,
  .resources {
    font-size: 12px;
  }
}

/* Main section css */


#myVideo {
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.bg-image {
  display: none;
}

.bgText {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 50%;
  color: white;
}

.bgTextHead {
  font-size: 50px;
}

.bgTextList {
  padding-left: 25px;
  font-size: 22px;
  padding-top: 20px;
}

.bgButtons {
  display: flex;
  column-gap: 10px;
}
.bgButtons a{
  color: white;
  text-decoration: none;
}
.mainHire {
  background-color: #960ac8;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

.earnMoney {
  background-color: #3d32e3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin-left: 15px;
}
.hireContactor {
  background-color: #2222c2;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin-left: 15px;
}
.mainHire:hover {
  background-color: #6e0494;
}
.earnMoney:hover {
  background-color: #2e25ad;
}
.hireContactor:hover {
  background-color: #1c1c9a;
}

.mainContainer2 {
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 5%;
}

.mainContainerLine {
  margin-top: 1%;
}

.mainDiv1 {
  margin-top: 4%;
}

.mainDiv1Heading {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 4%;
}

.div1Articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div1Article {
  flex: 2;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 13px;
  cursor: pointer;
}

.div1ArticleHeadWrapper {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div1ArticleImg {
  width: 70px;
  height: 70px;
  /* margin-left: 10px; */
  padding: 10px;
}

.div1ArticleHead {
  flex: 1;
  margin-left: 1px;
  margin-top: 5px;
  padding: 10px;
  font-size: 19px;
  font-weight: 600;
}

.div1ArticleText {
  margin-top: 20px;
  /* margin-right: 50%; */
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  .bgText {
    top: 10%;
    left: 5%;
    right: 15%;
  }
}

@media screen and (max-width: 700px) {
  #myVideo {
    display: none;
  }

  .bg-image {
    display: list-item;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bgText {
    top: 20%;
    left: 5%;
    right: 15%;
  }

  .bgTextHead {
    font-size: 35px;
  }

  .bgTextList {
    padding: 7px;
    font-size: 16px;
    padding-left: 30px;
  }

  .bgButtons {
    display: flex;
    flex-direction: column;
  }

  .mainHire,
  .earnMoney {
    width: 100%;
    padding: 10px 16px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
  }
  .div1Article {
    margin-bottom: 20px;
  }
  .mainDiv1Heading {
    font-size: 30px;
  }
  .div1ArticleText {
    font-size: 14px;
    margin-top: 20px;
  }
}
