* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Topbar CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
  box-shadow: 10px 10px 30px rgb(15, 15, 15, 0.13);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: inline-start;
  font-size: 18px;
}

.nav > .nav-links > .login {
  padding: 5px 10px;
  background-color: #3d32e3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 30%;
}
.nav > .nav-links > .signUp { 
  padding: 5px 10px;
  background-color: #8410ae;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 17px;
}

.nav > .nav-links > .post-project {
  padding: 5px 10px;
  background-color: #e75480;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 17px;
  color: white;
  margin-left: 100px;
}

.nav > .nav-links > .login > a {
  text-decoration: none;
  color: white;
}

.nav > .nav-links > .signUp > a {
  text-decoration: none;
  color: white;
}

.nav > .nav-links > .post-project > a {
  text-decoration: none;
  color: white;
}

/* drop down */

.dropdown {
  display: inline-block;
  position: relative;
  background-color: white;
}

.dropdown button img{
  width: 20px;
  background-color: white;
}

button{
  border:none;
  border-radius:5px;
  /* padding:15px 30px; */
  font-size:18px;
  cursor:pointer;
  background-color: white;
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

/* end dropdown */
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1300px) {
  .nav > .nav-links > .login {
    margin-left: 40px;
  }
  .nav > .nav-links > .post-project {
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 2;
  }

  .nav > .nav-links > .login {
    margin: 10px;
    margin-left: 0;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(45vh - 50px);
    overflow-y: auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: white;
  background: rgb(7, 0, 138);
  background: linear-gradient(
    90deg,
    rgba(7, 0, 138, 1) 25%,
    rgba(18, 18, 140, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 450px;
}
.wrapper h3{
  margin-top: -100px;
  font-size: 25px;
}
.wrapper h2{
  padding: 20px 0px;
  font-size: 30px;
}

.wrapper p{
  padding: 10px 0px;
}

.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: whitesmoke;
  z-index: 90;
}

.work-img{
  width: 400px;
  height: 300px;
  margin:60px 0px 30px 40px;
  border-radius: 10px;
}
.work-img-2{
  width: 400px;
  height: 300px;
  margin:60px 30px 30px 40px;
  border-radius: 10px;
}
.project-form{
  background-color: white;
  
  margin-top: -150px;
  padding: 30px;
  width: 700px;
  border-radius: 5px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column  ;
}

.project-form h2{
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0px ;
}

#name, #desc{
  padding: 10px;
  font-size: 12px;
  margin-bottom: 40px;
}

.upload{
  border: 1px dotted;
}
#file{
  font-size: 15px;
  padding: 10px;
}
.upload p{
  padding: 10px;
  width: 600px;
}

.budget{
  padding: 30px 0px;
}

.budget h2{
  padding: 20px 0px;  
}

.budget input{
  font-size: 15px;
  padding: 5px 10px;
  width: 200px;
}

.min-budget{
  margin-right: 30px;
}


.drop-category{
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
}

.drop-options{
  background-color:#EFEFEF;
  border-radius:5px;
  padding: 15px;
  border: none;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.next{
  padding: 10px 20px;
  background-color: #e75480;
  border: none;
  font-weight: 800;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 30px;
  color: white;
}



